<footer id="footer-info">
  <div class="footer-content">
      <h4>Tethix ETHOS</h4>
      <p>🌱 <strong>ETHOS</strong> is still a delicate seedling, so please tread with care. We're nurturing it with all our love and smiles, but it might occasionally still hide underground.</p>
      <p>If you'd like to share your feedback, we welcome your messages at <strong>ethos@tethix.co</strong> | <a href="{{ '/about/' | relative_url }}">About ETHOS</a></p>
      <p>Made with 🙂 by the <a href="https://tethix.co">Tethix</a> Firekeepers.</p>
  </div>
</footer>