{% assign paginator = include.paginator %}
<div class="pagination">
  <div class="step-links">
    {% if paginator.previous_page %}
    <a class="prev" href="{{ paginator.previous_page_path | relative_url }}">&lt; Previous {{ include.type | default: "posts" }}</a>
    {% endif %}
  </div>

  <div class="current-page">
      Page {{ paginator.page }} of {{ paginator.total_pages }}
  </div>

  <div class="step-links">
    {% if paginator.next_page %}
    <a class="next" href="{{ paginator.next_page_path | relative_url }}">Next {{ include.type | default: "posts" }} &gt;</a>
    {% endif %}
  </div>
</div>
