---
title: CSS stylesheet
---
:root {
    --water: #7B1FA2;
    --air: #FFDE03;
    --earth: #69F0AE;
    --fire: #FF0266;
    --text: #1E1E1E;
    --gray: #ADADC9;
    --light-gray: #DCDCE8;
    --dark-gray: #8A8AB2;
    --purple-bg: #FAF9FF;
    --water-rgb: 123, 31, 162;
    --air-rgb: 255, 222, 3;
    --earth-rgb: 105, 240, 174;
    --fire-rgb: 255, 2, 102;
    --dash-white: 250, 249, 255;
    --box-shadow: 0px 0px 10px -2px var(--gray);
}

/* comfortaa-300 - latin_latin-ext */
@font-face {
    font-display: swap;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    src: url("{{ '/assets/fonts/comfortaa-v45-latin_latin-ext-300.woff2' | relative_url }}") format('woff2'); 
}
/* comfortaa-regular - latin_latin-ext */
@font-face {
    font-display: swap;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: url("{{ '/assets/fonts/comfortaa-v45-latin_latin-ext-regular.woff2' | relative_url }}") format('woff2'); 
}
/* comfortaa-700 - latin_latin-ext */
@font-face {
    font-display: swap;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    src: url("{{ '/assets/fonts/comfortaa-v45-latin_latin-ext-700.woff2' | relative_url }}") format('woff2'); 
}
/* zilla-slab-300 - latin_latin-ext */
@font-face {
    font-display: swap;
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 300;
    src: url("{{ '/assets/fonts/zilla-slab-v11-latin_latin-ext-300.woff2' | relative_url }}") format('woff2'); 
}
/* zilla-slab-300italic - latin_latin-ext */
@font-face {
    font-display: swap;
    font-family: 'Zilla Slab';
    font-style: italic;
    font-weight: 300;
    src: url("{{ '/assets/fonts/zilla-slab-v11-latin_latin-ext-300italic.woff2' | relative_url }}") format('woff2'); 
}
/* zilla-slab-regular - latin_latin-ext */
@font-face {
    font-display: swap;
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 400;
    src: url("{{ '/assets/fonts/zilla-slab-v11-latin_latin-ext-regular.woff2' | relative_url }}") format('woff2'); 
}
/* zilla-slab-italic - latin_latin-ext */
@font-face {
    font-display: swap;
    font-family: 'Zilla Slab';
    font-style: italic;
    font-weight: 400;
    src: url("{{ '/assets/fonts/zilla-slab-v11-latin_latin-ext-italic.woff2' | relative_url }}") format('woff2'); 
}
/* zilla-slab-600 - latin_latin-ext */
@font-face {
    font-display: swap;
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    src: url("{{ '/assets/fonts/zilla-slab-v11-latin_latin-ext-600.woff2' | relative_url }}") format('woff2'); 
}
/* zilla-slab-600italic - latin_latin-ext */
@font-face {
    font-display: swap;
    font-family: 'Zilla Slab';
    font-style: italic;
    font-weight: 600;
    src: url("{{ '/assets/fonts/zilla-slab-v11-latin_latin-ext-600italic.woff2' | relative_url }}") format('woff2'); 
}
/* plus-jakarta-sans-300 - latin_latin-ext */
@font-face {
    font-display: swap;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 300;
    src: url("{{ '/assets/fonts/plus-jakarta-sans-v8-latin_latin-ext-300.woff2' | relative_url }}") format('woff2'); 
}
/* plus-jakarta-sans-300italic - latin_latin-ext */
@font-face {
    font-display: swap;
    font-family: 'Plus Jakarta Sans';
    font-style: italic;
    font-weight: 300;
    src: url("{{ '/assets/fonts/plus-jakarta-sans-v8-latin_latin-ext-300italic.woff2' | relative_url }}") format('woff2'); 
}
/* plus-jakarta-sans-regular - latin_latin-ext */
@font-face {
    font-display: swap;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    src: url("{{ '/assets/fonts/plus-jakarta-sans-v8-latin_latin-ext-regular.woff2' | relative_url }}") format('woff2'); 
}
/* plus-jakarta-sans-italic - latin_latin-ext */
@font-face {
    font-display: swap;
    font-family: 'Plus Jakarta Sans';
    font-style: italic;
    font-weight: 400;
    src: url("{{ '/assets/fonts/plus-jakarta-sans-v8-latin_latin-ext-italic.woff2' | relative_url }}") format('woff2'); 
}
/* plus-jakarta-sans-600 - latin_latin-ext */
@font-face {
    font-display: swap;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    src: url("{{ '/assets/fonts/plus-jakarta-sans-v8-latin_latin-ext-600.woff2' | relative_url }}") format('woff2'); 
}
/* plus-jakarta-sans-600italic - latin_latin-ext */
@font-face {
    font-display: swap;
    font-family: 'Plus Jakarta Sans';
    font-style: italic;
    font-weight: 600;
    src: url("{{ '/assets/fonts/plus-jakarta-sans-v8-latin_latin-ext-600italic.woff2' | relative_url }}") format('woff2'); 
}
/* roboto-500 - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url("{{ '/assets/fonts/roboto-v30-latin_latin-ext-500.woff2' | relative_url }}") format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* Scrollbar color */
html {
    scrollbar-color: var(--gray) #f4f4f8;
    scrollbar-width: auto;
}
/* WebKit and Chromiums */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #f4f4f8;
}
::-webkit-scrollbar-thumb {
    background: var(--gray);
    border-radius: 12px;
}
/* Text selection color */
::selection {
    color: white;
    background-color: var(--water);
}


body {
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 1.5;
    color: var(--text);
}

#page-header {
    font-size: 16px; 
    padding: 0.75em 1em 0.75em 2em; 
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    letter-spacing: 0.6px;
    background-color: var(--purple-bg);
    position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid var(--light-gray);
}
#site-logo {
    vertical-align: middle;
}
/* NAVIGATION */
nav {
    display: inline;
}
/* Site navigation */
.show-menu,
#show-site-nav {
    display: none;
    cursor: pointer;
}
ul#site-nav-items {
	list-style-type: none;
    margin: 0 auto;
    display: inline;
    position: absolute;
}
#site-nav-items li {
	display: inline-block;
    padding-right: 24px;
}
#site-nav-items #mobile-nav-only {
	display: none;
}
.site-nav input[type=checkbox]{
    display: none;
}
.site-nav input[type=checkbox]:checked ~ #site-nav-items {
    display: block;
}
#site-nav-icon {
    display: none;
    background-image: url("{{ '/assets/img/nav-menu.svg' | relative_url }}");
    height: 30px; 
    width: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    margin-left: -20px;
    border-radius: 30px;
    border: 1px solid var(--purple-bg);
    transition: transform 0.6s ease, background-color 0.5s ease, border 0.3s ease;
}
#site-nav-icon:hover {
    background-color: rgba(var(--water-rgb), 0.2);
    border: 1px solid var(--water);  
}
#site-nav-icon:focus {
    background-color: transparent;
    border: 1px solid var(--water);  
}
.site-nav input[type=checkbox]:checked ~ .show-menu > #site-nav-icon {
    transform: rotate(90deg);
}
nav.site-nav a {
    color: var(--text);
    text-decoration: none;
}
nav.site-nav a.air:hover,
nav.site-nav .air.current {
    color: var(--air);
}
nav.site-nav a.earth:hover,
nav.site-nav .earth.current {
    color: var(--earth);
}
nav.site-nav a.water:hover,
nav.site-nav .water.current {
    color: var(--water);
}
nav.site-nav a.fire:hover,
nav.site-nav .fire.current {
    color: var(--fire);
}


/* MAIN CONTAINER */
main {
    padding: 1em;
    max-width: 1400px;
    margin: 5em auto 4em;
}

/* BASIC ELEMENTS */
a {
    color: var(--water);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 7px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}
a:hover {
    color: var(--fire);
}
a.external::before {
    content: "";
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    background-repeat: no-repeat;
    background-size: contain;
    padding-right: 8px;
    vertical-align: middle;
    background-image: url("{{ '/assets/img/external-link.svg' | relative_url }}");
    filter: brightness(0) saturate(100%) invert(14%) sepia(48%) saturate(5475%) hue-rotate(275deg) brightness(98%) contrast(94%);
}

p {
    font-size: 18px;
}
p.empty {
    font-weight: 300;
    color: gray;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', sans-serif;
}
h3 {
    margin-top: 2em;
}

ul, ol {
    line-height: 1.75;
}

hr {
    border: 0.5px solid var(--dark-gray);
    margin: 2em 0;
    border-radius: 8px;
}

input,
textarea,
select {
    border: 1px solid var(--gray);
    border-radius: 4px;
    font-size: 18px;
    padding: 8px;
    font-family: 'Plus Jakarta Sans', Helvetica, Arial, sans-serif;
}
input:focus,
textarea:focus {
    border-color: var(--water);
}
select option {
    padding: 4px 8px;
}
select option:checked {
    background-color: var(--water);
    color: white;
}

.btn,
button {
    background-color: var(--water);
    color: white;
    border-radius: 8px;
    font-family: 'Plus Jakarta Sans', Helvetica, Arial, sans-serif;
    border: none;
    font-size: 16px;
    padding: 10px 16px;
    text-align: center;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    cursor: pointer;
}
.btn:hover,
button:hover {
    background-color: var(--fire);
}
.hidden {
    display: none;
}

#footer-info {
    background-color: black;
    color: white;
    padding: 4em 0;
    
}
.footer-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 2em;
    font-family: 'Zilla Slab', serif;
}
#footer-info a {
    color: white;
}
#footer-info a:hover {
    color: var(--earth);
}

#footer-info h4 {
    color: var(--earth);
    font-size: 24px;
    font-weight: 300;
}

/* HOME index */
.home-title {
    text-align: center;
    margin: 0px 0 40px;
    font-size: 0.9em;
}
.home-list {
    margin: 0 0 60px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 320px));
    grid-gap: 30px;
    justify-content: center;
}
.home-list a {
    color: var(--text);
    text-decoration: none;
    -webkit-transition: color .5s ease;
    transition: color .5s ease;
}
.home-card {
    box-shadow: var(--box-shadow);
    border-radius: 12px;
    padding: 40px;
    text-align: center;
    -webkit-transition: background-color .5s ease;
    transition: background-color .5s ease;
}
.home-card p {
    font-family: 'Zilla Slab', serif;
    font-weight: 300;
}
.home-card.air {
    border: 2px solid var(--air);
}
.home-card.earth {
    border: 2px solid var(--earth);
}
.home-card.water {
    border: 2px solid var(--water);
}
.home-card.fire {
    border: 2px solid var(--fire);
}
.home-card.air:hover {
    background-color: var(--air);
}
.home-card.earth:hover {
    background-color: var(--earth);
}
.home-card.water:hover {
    background-color: var(--water);
}
.home-card.fire:hover {
    background-color: var(--fire);
}
a .home-card.water:hover,
a .home-card.fire:hover {
    color: white;
}

/* INTENTS LIST AND DETAILS VIEWS */
.intents-list {
    margin: 2em 0 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    justify-content: center;
}
.intent-card {
    box-shadow: var(--box-shadow);
    border-radius: 12px;
    padding: 40px;
}
.intent-card.spark {
    background-image: url("{{ '/assets/img/spark-bckg.svg' | relative_url }}");
    background-size: cover;
    -webkit-transition: .3s;
    transition: background-color .3s;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}
.intent-card.spark h2 {
    text-align: center;
    font-family: 'Zilla Slab', serif;
    font-size: 64px;
    font-weight: bold;
}
.intent-card.spark a {
    display: block;
}
.intents-list .intent-card.spark:hover {
    background-color: var(--purple-bg);
}
.breadcrumbs {
    max-width: max-content;
    margin: 0 auto 2em;
    padding: 0.5em 1em;
    text-align: center;
    background-color: var(--purple-bg);
    border-radius: 4px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.detail-view {
    max-width: 600px;
    margin: 0 auto;
}
.seed-set {
    margin-top: 4em;
}
.seed-set h2 {
    padding-top: 2em;
    margin-top: 2em;
    text-wrap: balance;
    border-top: 2px solid var(--earth);
}
.intent-categories {
    margin-top: 1em;
}
.intent-categories a {
    background-color: var(--gray);
    border-radius: 8px;
    color: white;
    text-decoration: none;
    padding: 6px 12px;
    white-space: nowrap;
    -webkit-transition: color .8s ease, background-color .8s ease;
    transition: color .8s ease, background-color .8s ease;    
}
.intent-categories a:hover {
    background-color: var(--light-gray);
    color: var(--water);
}
.tools-categories {
    background-color: var(--purple-bg);
    padding: 1em 0.5em;
    border-radius: 12px;
    color: var(--dark-gray);
    text-align: center;
}
.tools-categories .intent-categories {
    margin-top: 0.5em;
}
.tools-categories .intent-categories a {
    line-height: 38px;
}
a.current-category {
    background-color: var(--fire);
}
a.current-category:hover {
    background-color: var(--fire);
    color: white;
    filter: saturate(75%);
    cursor: pointer;
}
.intent-author {
    margin-top: -0.5em;
}
.intent-date {
    color: var(--dark-gray);
    font-family: 'Zilla Slab', serif;
    font-size: 18px;
    font-weight: 300;
    padding-top: 2em;
    margin-top: 3em;
    border-top: 1px solid var(--gray);
}
.intent-date::before {
    content: "Date added: ";
}
.page-content {
    max-width: 840px;
    margin: 0 auto;
    padding: 60px 80px;
}
.page-content h1 {
    margin-top: 0;
}
ul.elemental {
    list-style: none;
    padding-left: 1em;
}
ul.elemental li {
    margin-bottom: 10px;
}
ul.elemental li::before {
    content: "\2022";
    color: var(--gray);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
ul.elemental.air li::before {
    color: var(--air);
}
ul.elemental.earth li::before {
    color: var(--earth);
}
ul.elemental.fire li::before {
    color: var(--fire);
}
ul.elemental.water li::before {
    color: var(--water);
}
h1.air,
h2.air {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--air);
    text-underline-offset: 10px;
}
h1.earth,
h2.earth {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--earth);
    text-underline-offset: 10px;
}
h1.water,
h2.water,
h1.mirror,
h2.mirror {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--water);
    text-underline-offset: 10px;
}
h1.fire,
h2.fire {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--fire);
    text-underline-offset: 10px;
}
h1.elemental::before,
h2.elemental::before {
    content: "";
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    background-repeat: no-repeat;
    background-size: contain;
    padding-right: 6px;
    vertical-align: middle;
}
.all::before {
    background-image: url("{{ '/assets/img/elements.svg' | relative_url }}");
}
.air::before {
    background-image: url("{{ '/assets/img/air.svg' | relative_url }}");
}
.earth::before {
    background-image: url("{{ '/assets/img/earth.svg' | relative_url }}");
}
.water::before {
    background-image: url("{{ '/assets/img/water.svg' | relative_url }}");
}
.fire::before {
    background-image: url("{{ '/assets/img/fire.svg' | relative_url }}");
}
.mirror::before {
    background-image: url('{{ "/assets/img/water.svg" | relative_url }}');
}
.tagline {
    font-family: 'Zilla Slab', serif;
    font-size: 18px;
    font-weight: 300;
}


/* DASHBOARD */
body.dashboard {
    background-color: var(--earth);
    background: url("{{ '/assets/img/bckg/pexels-nejc-košir-338936.jpg' | relative_url }}") center center fixed no-repeat;
    background-size: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
body.dashboard.loaded {
    opacity: 1;
}
#page-header.dashboard-header {
    color: lightgray;
    font-size: 14px; 
    padding: 0.5em 1em; 
    background-color: rgba(var(--dash-white), 0.5);
    border-bottom: none;
}
#page-header.dashboard-header #site-logo {
    width: 60px;
}
#page-header.dashboard-header a {
    color: var(--purple-bg);
}
#page-header.dashboard-header a.current {
    color: var(--water);
}
.dashboard-page {
    text-align: center;
    color: white;
    font-size: 1.5em;
    margin-top: 20px;
    padding-top: 0;
}
/* Music player */
#dashboard-player {
    width: 200px;
    height: 30px;
    background-color: rgba(0,0,0, 0.4);
    color: var(--purple-bg);
    float: left;
    border-radius: 8px;
    padding: 10px;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    margin: 30px 20px 0;
}
.player-button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 200px;
    padding: 1em;
}
.player-button:hover,
.player-button:focus {
    background-color: rgba(var(--earth-rgb), 0.3);
}
.icon-container {
    fill: transparent;
    stroke: none;
}
.player-button svg { 
    filter: brightness(0) saturate(100%) invert(97%) sepia(23%) saturate(564%) hue-rotate(181deg) brightness(99%) contrast(104%);
    position: relative;
    left: 0.5px;
    width: 24px;
    height: 24px;
    display: block;
}
.player-volume-container {
    padding-right: 24px;
}
.player-volume {
    -webkit-appearance: none;
    width: 100%;
    height: 0;
    border-radius: 5px;  
    background: rgba(var(--dash-white), 0.2);
    border: none;
    outline: none;
    opacity: 1;
    -webkit-transition: .3s;
    transition: background .3s;
}
.player-volume:hover {
    background: rgba(var(--dash-white), 0.3);
}
.player-volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: none;
    background: rgba(var(--earth-rgb), 0.7);
    cursor: pointer;
    -webkit-transition: .3s;
    transition: background .3s;
}
.player-volume::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: none;
    background: rgba(var(--earth-rgb), 0.7);
    cursor: pointer;
    -webkit-transition: .3s;
    transition: background .3s;
}
.player-volume::-webkit-slider-thumb:hover {
    background: var(--earth);
}
.player-volume::-moz-range-thumb:hover {
    background: var(--earth);
}
/* end music player */
.dashboard-intro {
    padding-top: 60px;
}
.dashboard-content {
    background-color: rgba(0,0,0, 0.4);
    border-radius: 12px;
    max-width: 700px;
    margin: 1em auto;
    padding: 12px 40px;
    backdrop-filter: blur(1px);
}
.dashboard-content a {
    color: var(--purple-bg);
}
.dashboard-content a:hover {
    color: var(--earth);
}
.dashboard-question {
    background-color: rgba(var(--earth-rgb), 0.7);
    border-radius: 12px;
    padding: 1.5em 1em;
    max-width: 640px;
    margin: 1em auto;
    backdrop-filter: blur(10px);
    font-family: 'Zilla Slab', serif;
    font-size: 30px;
    line-height: 36px;
    color: var(--text);
}
.dashboard-question:focus {
    box-shadow: inset 0 0 0 2px var(--earth);
    outline: none;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fade-in {
    animation: fadeIn 2s ease-in-out;
}


/* MIRRORS */
/* List of mirrors */
.mirrors-container {
    text-align: center;
    margin: 40px auto;
}
.mirrors-container h1 {
    margin-bottom: 40px;
}
.mirrors-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}
.mirror-card {
    background-color: #fff;
    border: 2px solid #e1e1e1;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: 0.3s ease-in-out;
    width: 240px;
    text-decoration: none;
    color: inherit;
}
.mirror-card:hover {
    border-color: var(--gray);
    background-color: var(--purple-bg);
}
.mirror-card img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}
.mirror-card h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px;
}
.mirror-card a {
    text-decoration: none;
    color: inherit;
}
.mirror-card button {
    margin-bottom: 10px;
}
/* Individual mirror pages */
.mirror-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.mirror-grid {
    display: grid;
    grid-template-columns: 150px 1fr 150px; 
    gap: 20px; 
    align-items: center; 
    text-align: center;
}
  
.mirror-header img {
    width: auto;
    max-height: 300px;
}
.mirror-title {
    font-size: 16px;
    margin-top: 5px;
    color: var(--dark-gray);
}
.prev-arrow,
.next-arrow {
    font-size: 18px;
    text-decoration: none;
    color: var(--water);
    transition: color 0.3s ease;
    display: block;
}
.prev-arrow:hover,
.next-arrow:hover {
    color: var(--fire);
}  
.accordion {
    margin: 20px 0;
}
.accordion-item {
    margin-bottom: 10px;
}
.accordion-button {
    width: 100%;
    padding: 15px;
    background-color: var(--gray);
    border: none;
    border-radius: 8px 8px 8px 8px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}
.accordion-button:hover {
    background-color: var(--dark-gray);
}
.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: var(--purple-bg);
    padding: 0 15px;
    border-radius: 0 0 8px 8px;
} 
.accordion-content ul {
    list-style-type: disc;
    margin: 10px 0;
    padding: 10px;
}
.accordion-content ul li {
    margin: 5px 0;
} 
.accordion-content.expanded {
    max-height: 150px;
}
.reflection-questions {
    margin-top: 40px;
}
.reflection-questions h3 {
    font-size: 24px;
    margin-bottom: 15px;
}
.reflection-questions li {
    font-size: 18px;
}


/* PAGINATION */
.pagination {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagination.top {
    margin: -1em 0 2.5em 0;
}
.step-links,
.current-page {
    display: inline-block;
}
.step-links a:first-of-type {
    padding-right: 6px;

}
.current-page {
    color: var(--dark-gray);
}


/* RESPONSIVE CHANGES */
/* Tablets */
@media (max-width: 1280px) {
    .intents-list {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 976px) {
    /* Change nav layout */
    #page-header {
        text-align: center;
    }
    nav.site-nav {
        float: left;
    }
    #site-logo {
        margin-left: -70px;
    }
    #site-nav-icon {
        display: block;
    }
    #site-nav-lines:hover {
        border-color: var(--fire);
    }
    ul#site-nav-items {
		display: none;
        background-color: var(--purple-bg);
        width: 100%;
        margin-left: -2em;
        overflow: hidden;
        margin-top: 2.4em;
        z-index: -1;
        border-bottom: 1px solid var(--light-gray);
	}
    #site-nav-items li {
        display: block;
        padding-right: 0;
    }
    #site-nav-items li a {
        padding: 12px 40px 12px 28px;
        margin-left: -3em;
		display: block;
        text-align: left;
        transition: color .3s ease, background-color .6s ease;
	}
    nav.site-nav a.air:hover,
    nav.site-nav .air.current {
        background-color: var(--air);
        color: black;
    }
    nav.site-nav a.earth:hover,
    nav.site-nav .earth.current {
        background-color: var(--earth);
        color: black;
    }
    nav.site-nav a.water:hover,
    #page-header.dashboard-header a.water:hover,
    #page-header.dashboard-header a.current,
    nav.site-nav .water.current {
        background-color: var(--water);
        color: white;
    }
    nav.site-nav a.fire:hover,
    #page-header.dashboard-header a.fire:hover,
    nav.site-nav .fire.current {
        background-color: var(--fire);
        color: white;
    }
    .show-menu {
        display: block;
    }
    .account-nav {
        text-align: left;
    }
    .nav-dropdown li a {
        padding: 12px 0 12px 20px;
    }
    #page-header.dashboard-header {
        font-size: 16px;
        padding: 0.75em 1em; 
    }
    #page-header.dashboard-header #site-logo {
        width: 100px;
    }
    #page-header.dashboard-header a {
        color: var(--text);
    }
    #page-header.dashboard-header #site-nav-items {
        margin-left: -1em;
        background-color: rgba(var(--dash-white), 0.96);
        border-bottom: none;
    }
    #page-header.dashboard-header #site-nav-icon {
        margin-left: -6px;
        border-color: transparent;
    }
    #page-header.dashboard-header #site-nav-icon:hover {
        border-color: var(--water);
    }
}
/* Mobile */
@media (max-width: 768px) {
    main {
        padding: 1em 12px 2em;
    }
    .home-list,
    .intents-list,
    .mirrors-grid,
    .pagination {
        display: flex; 
        flex-direction: column;
        align-items: center;
    }
    .pagination div:not(:last-child) {
        margin-bottom: 1em;
    }
    .page-content {
        padding: 40px 30px;
    }
    main.dashboard-page {
        padding: 1em 0px 2em;
    }
    #dashboard-player {
        width: 30px;
        margin: 38px 10px 0;
    }
    .player-volume-container,
    .player-mute-btn {
        display: none;
    }
    .dashboard-intro {
        padding-top: 80px;
    }
    .dashboard-intro h1 {
        margin: 0;
        font-size: 1.25em;
    }
    .dashboard-content {
        padding: 12px 12px;
    }
    .dashboard-content > p {
        font-size: 16px;
    }
    .dashboard-question {
        margin: 0 auto;
        padding: 1em 0.5em;
        font-size: 26px;
    }
    .mirror-grid {
        display: flex;
        flex-direction: column;
    }
    .mirror-header {
        order: 3;
    }
    .prev-column,
    .next-column,
    .mirror-header {
        text-align: center;
    }
}
