---
layout: default
pagination:
  enabled: true
  collection: seeds
---

<h1 class="elemental earth">Seed Catalog</h1>
<p>{{ content | markdownify }}</p>
<div class="intents-list">
    {%- for seed in paginator.posts -%}
    <div class="intent-card">
      <h2><a href="{{ seed.url | relative_url }}">{{ seed.title }}</a></h2>
    
      <div class="intent-author">Crafted by: {{ seed.author }}</div>

      <p class="tagline">{% if seed.description %}{{ seed.description | truncate: 280 }}{% else %}{{ seed.content | strip_html | truncate: 280 }}{% endif %}</p>
    </div>
    {%- endfor -%}
</div>

{% include pagination.html paginator=paginator  type="seeds" %}