---
layout: default
pagination:
  enabled: true
  collection: tools
---

<div class="breadcrumbs">
  {% include elemental_icon.html element='fire' size=18 %}
  <a href="{{ '/tools/' | relative_url }}">Tools</a> > {{ page.title }}
</div>

{% include pagination_single.html paginator=paginator %}

<div class="intent-card detail-view">
    <h1>{{ page.title }} <a href="{{ page.website }}" class="external tool-website">View website</a></h1>

    <div class="intent-meta">Crafted by: {{ page.author }}{%- if page.year_published -%}&#32;·&nbsp;{{ page.year_published }}{%- endif -%}</div>



    <div class="tool-details">
      {{ content }}
    </div>
    
    <div class="tool-footer">

      {%- if page.categories -%}
      <div style="display:inline;color: var(--dark-gray);   font-family: 'Zilla Slab', serif;font-size: 18px;
      font-weight: 300;">Categories: </div>{% include tool_categories.html %}
      {%- endif -%}
    
      <div class="intent-date">{{ page.date | date: "%b %-d, %Y" }}</div>
    </div>


</div>